*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.bodyhome{height: 3600px;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    height: 70px;
    background-color: black;
    align-items: center;
    gap: 35px;
    font-size: 35px;
    font-family: "Big Shoulders", sans-serif;
  }

  .container_main,.container_login{
    padding: 0px 1%;
    font-size: 35px;
    align-items: center;
    display: flex;
    gap: 35px;
    font-family: "Big Shoulders", sans-serif;
  }

  .item{gap: 35px;
    font-size: 35px;
text-decoration: none;
color: white;
align-items: center;
font-family: "Big Shoulders", sans-serif;}

.logo{
    height: 90px;
    width: 120px;
align-items: center;}

.entrar,.entrar2{text-decoration:none ;}

.entrar{color: white;}
.entrar2{color: #f0b65f;}

        .item:hover,.entrar:hover,.entrar2:hover{
            transition: .2s ease;
            transform: scale(1.2);}
        
        .menu-icon {background-color: rgba(0, 0, 0, 0);
            border: none;
            display: none;
            cursor: pointer;
        padding: 0px 2%;}

            .menu-icon img{height: 50px;
                width: 50px;}
  

.pepe{position: absolute;
    width: 400px;
height: 400px;
top: 130px;
left: 100px;}

.borda{background-color: #14101000;
border-radius: 70px;
border: solid 3px #e8ad54;
position: absolute;
top: 115px;
left: 30px;
width: 1870px;
height: 780px;}

.linha{background-color: #fffffe;
opacity: calc(51%);
width: 100%;
position: absolute;
height: 5px;
top: 95px;}

.container2{position: fixed;
top: 0px;
background-color: #141010;
height: 80px;
width: 100%;
display: flex;
border-bottom: solid 5px #ffbd59;     
gap: 46px;
z-index: 100;}

.name{position: absolute;
font-family: Arial;
top: 225px;
left: 590px;
color: white;
font-size: 35px; }
.email{position: absolute;
font-family: Arial;
top: 300px;
left: 590px;
color: white;
font-size: 35px; }
.Num{position: absolute;
font-family: Arial;
top: 375px;
left: 590px;
color: white;
font-size: 35px;}

.service1{width: 1450px;
height: 350px;
position: absolute;
background-color: #ffffff;
top: 500px;
left: 375px;
border-radius: 100px;}

.titu{font-size: 50px;
font-family: "Big Shoulders", sans-serif;
position: absolute;
top: 130px;
left: 900px;
color: #ffffff;
font-weight: lighter
}

.pontos{color: white;
font-family: "Big Shoulders", sans-serif;
position: absolute;
top: 170px;
left: 1532px;
font-size: 35px;}
.fid{color: #ffbb00;
font-family: "Big Shoulders", sans-serif;
position: absolute;
top: 170px;
left: 1650px;
font-size: 35px;}

.bobo1{background-color: red;
font-family: "Big Shoulders", sans-serif;
color: white;
width: 100px;
height: 55px;
position: absolute;
top: 530px;
left: 1535px;
border-radius: 25px;
border: none;
cursor: pointer;
}

.bobo2{background-color: gray;
font-family: "Big Shoulders", sans-serif;
color: white;
width: 100px;
height: 55px;
position: absolute;
top: 530px;
left: 1650px;
border-radius: 25px;
border: none;
cursor: pointer;
}

.name1{position:absolute;
font-size: 35px;
top: 450px;
left: 470px;
font-family: "Big Shoulders", sans-serif;
color: rgb(255, 255, 255);}
.dd{position:absolute;
font-size: 35px;
top: 450px;
left: 825px;
font-family: "Big Shoulders", sans-serif;
color: rgb(255, 255, 255);}
.hora{position:absolute;
font-size: 35px;
top: 450px;
left: 1050px;
font-family: "Big Shoulders", sans-serif;
color: rgb(255, 255, 255);}
.serviço2{position:absolute;
font-size: 35px;
top: 450px;
left: 1320px;
font-family: "Big Shoulders", sans-serif;
color: rgb(255, 255, 255);}

.vipcoin{width:200px;
height: 125px;
position: absolute;
top: 180px;
left: 1610px;}

.xxcoin{position: absolute;
font-family: "Open Sans", sans-serif;
top: 219px;
left: 1620px;
color: white;
font-size: 35px;}

.bobo1:hover{background-color: #c0271e;}
.bobo2:hover{background-color: black;} 

/* ---------------------------- */
/*  RESPONSIVIDADE ADICIONADA   */
/* ---------------------------- */

/* Faz imagens, divs e containers não estourarem a tela */
img, video, iframe {
    max-width: 100%;
    height: auto;
}

/* Garante que nada ultrapasse a largura da tela */
* {
    max-width: 100%;
}

/* Ajusta textos gigantes para telas menores */
@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 90%;
    }
    p, span, a, button {
        font-size: 90%;
    }
}

/* Converte elementos absolutamente posicionados em layout fluido no celular */
@media (max-width: 768px) {

    /* Todas as caixas que você posicionou com left/top fixos (ex: 1300px → quebra no celular) */
    .vipcoin, .xxcoin, .foto1, .foto2, .foto3,
    .bobo1, .bobo2, .container, .container2 {
        position: static !important;
        width: 100% !important;
        margin: 10px 0;
        text-align: center;
    }

    /* Ajusta itens em linha para empilhar */
    .container, .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* Botões grandes ficam centralizados e fluidos */
    button, .bobo1, .bobo2 {
        width: 90% !important;
        font-size: 1rem;
    }
}

/* Telas muito pequenas */
@media (max-width: 480px) {
    h1, h2, h3 {
        font-size: 80%;
    }
    p, span, a, button {
        font-size: 85%;
    }
}
