* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    gap: 0px;
}
body{
    background-color: black;
}
header {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

}

.caixa-one {
    display: flex;
    gap: 20px;
    font-family: "Big Shoulders", sans-serif;
    font-size: 35px;
    text-decoration: none;
    align-items: center;
}

.img-one {
    flex: auto;
    text-align: center;
    height: 90px;
    width: 120px;
}

.item {
    flex: auto;
    text-align: center;
    color: white;
    text-decoration: none;
    align-items: center;

}

.caixa-two {
    display: flex;
    gap: 28px;
    padding: 0px 2%;
    font-family: "Big Shoulders", sans-serif;
    font-size: 35px;
    text-decoration: none;
    align-items: center;
}

.item-two {
    flex: auto;
    text-align: center;
    color: white;
    align-items: center;
    text-decoration: none;
}


.item-three {
    flex: auto;
    text-align: center;
    color: #f0b65f;
    text-decoration: none;
    align-items: center;
}

.item:hover,
.item-two:hover,
.item-three:hover {
    transform: scale(1.2);
    /*hover significa passar o mouse e fazer alguma função, tranform: scale e para a letra sobrepor */
}

.line {
    width: 100%;
    height: 3px;
    background-color: #f0b65f;

}

section {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 3px solid white;

}

.item-four,
.item-five {
    font-weight: lighter;
    font-size: 60px;
    font-family: "Big Shoulders", sans-serif;
}

.item-four {
    color: white;
}

.item-five {
    color: #f0b65f;
}

.tela {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
}
.caixa-none{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 95vh;
}
.fidelidade{
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Big Shoulders", sans-serif;

}
.caixa-ten {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 90vh;
    gap: 25px;

}
.botao{
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid white;
    height: 50px;
    width: 600px;
    font-size: 20px;
}
.botao2{
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid white;
    height: 50px;
    width: 600px;
    font-size: 20px;
}
.botao3{
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid white;
    height: 50px;
    width: 600px;
    font-size: 20px;
}
.botao4{
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid white;
    height: 50px;
    width: 600px;
    font-size: 20px;
}
.caixa-vinte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 85vh;
}
.botao5{
    background-color: #f0b65f;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
}
.botao5:hover{
    background-color: #e2931b;
}